</div>
</div><!-- end #yui-main -->
</div><!-- end #bd -->

<div class="ft">
Landed Estates Database,
$VERSION. This CD-ROM is based on data from the Landed Estates database 
at $cdromTimestamp.
</div>

</div><!-- end #doc -->
</body>
</html>