<?xml version="1.0" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>BackupServlet</servlet-name>
		<servlet-class>ie.wombat.landedestates.BackupServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>ie.wombat.imagetable.ImageServlet</servlet-class>
		<init-param>
			<param-name>imageEntityName</param-name>
			<param-value>Image</param-value>
		</init-param>
		<init-param>
			<param-name>cacheDir</param-name>
			<param-value>/var/tmp/le/ImageCache</param-value>
		</init-param>
	</servlet>



	<servlet-mapping>
		<servlet-name>BackupServlet</servlet-name>
		<url-pattern>/backup/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/img/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>ie.wombat.landedestates.AppContextStart</listener-class>
	</listener>

	<listener>
		<listener-class>ie.wombat.landedestates.EndOfRequestCleanup</listener-class>
	</listener>


</web-app>
