<?xml version="1.0" encoding="ISO-8859-1"?> 

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd"> 
	
<web-app>

<servlet>
<servlet-name>ConfigServlet</servlet-name>
<servlet-class>ie.wombat.landedestates.ConfigServlet</servlet-class>
<load-on-startup>1</load-on-startup>
<init-param>
	<param-name>indexDir</param-name>
	<param-value>/var/tmp/le/idx</param-value>
</init-param>
</servlet>

<servlet>
<servlet-name>BackupServlet</servlet-name>
<servlet-class>ie.wombat.landedestates.BackupServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>BarcodeServlet</servlet-name>
<servlet-class>ie.wombat.landedestates.BarcodeServlet</servlet-class>
</servlet>

<servlet>
<servlet-name>ImageServlet</servlet-name>
<servlet-class>ie.wombat.imagetable.ImageServlet</servlet-class>
<init-param>
	<param-name>imageEntityName</param-name>
	<param-value>Image</param-value>
</init-param>
<init-param>
	<param-name>cacheDir</param-name>
	<param-value>/var/tmp/le/ImageCache</param-value>
</init-param>
</servlet>



<servlet-mapping>
<servlet-name>BackupServlet</servlet-name>
<url-pattern>/backup/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>BarcodeServlet</servlet-name>
<url-pattern>/bc/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>ImageServlet</servlet-name>
<url-pattern>/img/*</url-pattern>
</servlet-mapping>

<listener>
<listener-class>ie.wombat.landedestates.RequestListener</listener-class>
</listener>

<!--
<locale-encoding-mapping-list>
<locale-encoding-mapping>
<locale>en</locale>
<encoding>UTF-8</encoding>
</locale-encoding-mapping>
</locale-encoding-mapping-list>
-->

</web-app>