#parse ("/mobile/_header.vm")

<h2>Full database index</h2>

<h3>Estates index</h3>

<ul>
#foreach ($estate in $estates)
<li> <a href="e${estate.getId()}.htm">$estate.getName()</a>
#if ($estate.getDescription())
- $estate.getDescription()
#end
</li>
#end
</ul>

<h3>Family names index</h3>

<ul>
#foreach ($family in $families)
<li> <a href="f${family.getId()}.htm">$family.getName()</a></li>
#end
</ul>



<h3>House index</h3>

<ul>
#foreach ($house in $houses)
<li> <a href="h${house.id}.html">$house.name</a>
#if ($house.description)
- $house.description
#end
</li>
#end
</ul>


#parse ("/mobile/_footer.vm")

