##
## requires $estate
##

#if (!$estate.references || $estate.references.size()==0)
<div><em>none</em></div>
#else

<table class="stdTable">

<thead>
<tr>
<th>reference</th>
<th>source</th>
<th>actions</th>
</tr>
</thead>

<tbody>
#foreach ($reference in $estate.references) 
<tr>
<td>
#if (! $reference.description) 
<div class="alert alert-danger">!!! No reference description !!!</div>
#else 
$reference.description
#end

</td>

<td> 
#if (! $reference.source)
<div class="alert alert-danger">!!! No reference source !!!</div>
#else
$reference.source.name
#if ($reference.source.category)
($reference.source.category.name)
#end
#end
</td>

<td>
<div class="btn-group">
<button type="submit" class="btn btn-primary btn-sm"
name="_submit_reference_edit_${reference.id}">
edit</button>
<button type="submit" class="btn btn-danger btn-sm"
name="_submit_reference_delete_${reference.id}"
onClick="return confirm ('Are you sure you want to delete reference?');">
<b class="fa fa-remove"></b></button>
</div>
</td>

</tr>
#end
</tbody>

</table>
#end
