	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a class="nav-link" href="index.jsp"><b class="fa fa-home"></b> <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="estate-list.jsp">Estates</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="family-list.jsp">Families</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="house-list.jsp">Houses</a>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Extra</a>
			<div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item" href="refsource-list.jsp">Reference Sources</a>
				<a class="dropdown-item" href="images.jsp">Images</a>
				
			</div>
		</li>
		
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
			<div class="dropdown-menu" aria-labelledby="dropdown02">
				<a class="dropdown-item" href="change-list.jsp">Recent changes</a>
				<a class="dropdown-item" href="export.jsp">Export database to XML</a>
				<a class="dropdown-item" href="tools-dbbackup.jsp">Backup database</a>
				<a class="dropdown-item" href="tool-reindex.jsp">Reindex search</a>
				
			</div>
		</li>
	</ul>