<h2>Recent changes</h2>

<table border="1">
<thead>
<tr>
<th>object class</th>
<th>object id</th>
<th>when</th>
<th>by who</th>
<th>actions</th>
<th></th>
</tr>
</thead>

#foreach ($change in $changes)
#set ($objClass = $change.getObjectClass() )
<tr>
<td>

#if ($objClass == "ie.wombat.landedestates.Estate")
Estate
#elseif ($objClass == "ie.wombat.landedestates.Family")
Family
#elseif ($objClass == "ie.wombat.landedestates.Reference")
Reference
#else 
$objClass
#end
</td>
<td>$change.getObjectId()</td>
<td>$change.getModified()</td>
<td>
#if ($change.getUid() == 0) 
unknown
#else
$change.getUid()
#end
</td>


<td>

#if ($objClass == "ie.wombat.landedestates.Estate")
<a href="estate-show.jsp?id=$change.getObjectId()">Show latest version</a>
#elseif ($objClass == "ie.wombat.landedestates.Family")
<a href="family-show.jsp?id=$change.getObjectId()">Show latest version</a>
#elseif ($objClass == "ie.wombat.landedestates.Reference")
<!--
<a href="change-view.jsp?id=$change.getId()">Show latest version</a>
-->
#end
</td>
</tr>
#end
</table>
