#parse ("/backend/_header.vm")

#if ($employeeRecord)
<h2>Edit Employee Record ${employeeRecord.id} (${house.name})</h2>
#else
<h2>New Employee Record for ${house.name}</h2>
#end

<form action="employee-record-edit-submit.jsp" method="POST">

<input type="hidden" name="house_id" value="${house.id}" />

#if ($employeeRecord)
<input type="hidden" name="employee_record_id" value="${employeeRecord.id}" />
#end


#if ($employeeRecord)
<div><label>Employee Record ID</label>${employeeRecord.id}</div>
#end

<div><label>House</label>
<a href="house-show.jsp?id=${house.id}">${house.name}</a> (H${house.id})
</div>

<div>
<label for="date">Document date (dd MMM yyyy, eg 3 Sep 1898)</label>
<input type="text" size="40" id="date" name="date"
#if ($employeeRecord.date)
value="$dateFormat.format($employeeRecord.getDate())"
#else
value=""
#end 
/>
</div>


<div>
<label for="field_description">Description</label>
<textarea id="field_description" name="description"
rows="10" cols="80"/>$!employeeRecord.getDescription()</textarea>
</div>

<div>
<label for="field_references">References</label>
#if ($employeeRecord.getReferences().size()==0)
no references
#else
<table class="listTable">
<thead>
<tr>
<th></th>
<th>ID</th>
<th>Description</th>
<th>Source</th>
<th>Source type</th>
<th></th>
</tr>
</thead>
<tbody>
#foreach ($ref in $employeeRecord.getReferences())
<tr>
<td><input type="checkbox" name="delete_ref_${ref.id}" /></td>
<td>${ref.id}</td>
<td>${ref.description}</td>
<td>$ref.source.name</td>
<td>$ref.source.category.name</td>
<td><a href="employee-record-reference-edit.jsp?employee_record_id=${employeeRecord.id}&reference_id=${ref.id}">edit</a></td>
</tr>
#end
</tbody>
</table>
#end

<p></p>
<input type="submit" name="_submit_new_reference" value="Add new reference" />
<input type="submit" name="_submit_delete_references" value="Delete checked references" />

</div>


<div>
<label for="field_tags">Tags</label>
#if ($employeeRecord.getTags().size()==0)
no tags
#end
<table >
#foreach ($tag in $employeeRecord.getTags())
<tr><td><input type="checkbox" name="remove_tag_${tag.id}"/></td><td>$tag.getName()</td></tr>
#end
</table>

<input type="submit" name="_submit_delete_checked_tags" value="Remove checked tags" />

<p></p>

<label>Add new tag</label>
<input id="new_tag" name="new_tag" />
<input id="new_tag_id" type="hidden" name="new_tag_id" /> <input type="submit" name="_submit_add_tag" value="Add tag" />
</div>

<input type="submit" name="_submit_save" value="Save" />
</form>

<script>
jQuery(function() {
	jQuery( "#new_tag" ).autocomplete({
		source: function (request, response) {
			jQuery.ajax ( {
				url: "query-tag.async.jsp",
				data: {q : request.term},
				dataType: "json",
				success: function (data) {
					response(data);
				}
			} );
		},
		select: function (event, ui) {
			console.log(ui);
			jQuery("#new_tag_id").val(ui.item.value);
			jQuery("#new_tag").val(ui.item.label);
			return false;
		}
	});
});
</script>

#parse ("/backend/_footer.vm")

