#parse ("/backend/_header.vm")
#parse ("/backend/_employee_record_reference_table.vm")

#if ($heading)
<h2>$heading</h2>
#else
##<h2>Employee Records</h2>
#end 

#if ($employeeRecords) 
<table border="1" class="listTable">
<thead>
<tr>
<th>ID</td>
<th>Description</th>
<th>Estate</th>
<th>References</th>
<th>Tags</th>
<th style="width:80px;">Actions</th>
</tr>
</thead>

#foreach ($er in $employeeRecords) 
<tr>
<td><a href="employee-record-edit.jsp?id=${er.id}">${er.id}</a></td>

<td>$formatUtils.formatText($er.description)</td>

<td><a href="estate-show.jsp?id=${er.estate.id}">${er.estate.name}</a>
#if ($er.estate.primaryHouse)
($er.estate.primaryHouse.name)
#end
</td>


<td>
#set ($editable=false)
#employee_record_reference_table ($er $editable)
</td>

<td>
<ul class="tagList">
#foreach ($tag in $er.tags)
<li><a href="employee-record-list.jsp?tag=${tag.name}">${tag.name}</a></li>
#end
</ul>
</td>


<td>
<a href="employee-record-edit.jsp?id=${er.id}">edit</a> |
<a href="audit-list.jsp?class_name=${er.class.name}&entity_id=${er.id}">audit</a>

</td>

</tr>
#end
</table>

#else
no records
#end


#parse ("/backend/_footer.vm")
