$breadcrumbs.add("Estates","estate-list.jsp")

<div class="a-z">
|&nbsp;
#foreach ($l in $alphabet)
	#if ($l == $letter)
	<b>$l</b>
	#else
	<a href="estate-list.jsp?letter=$l">$l</a>
	#end
	&nbsp;|&nbsp;
#end

<br />

<a href="estate-list.jsp?letter=_all">List all estates</a>
&nbsp; | &nbsp;
<a href="estate-new.jsp">Add new estate</a>

</div>



#if ($estates) 
<table border="1" class="listTable">
<thead>
<tr>
<th>Phase</th>
<th>Estate name</th>
<th>Associated families</th>
<th>Houses</th>
</tr>
</thead>

#foreach ($estate in $estates) 
<tr>

<td>${estate.projectPhase}</td>

<td>
<a href="estate-show.jsp?id=$estate.getId()">${estate.name}</a>
</td>

<td>
#foreach ($family in $estate.getFamilies())
<a href="family-show.jsp?id=$family.getId()">$family.getName()</a>
#if ($family.title && $family.title.length() > 0)
<em>(${family.title})</em>
#end
&nbsp; &nbsp;
#end
&nbsp;
</td>

<td>
#foreach ($property in $estate.houses)
<a href="property-show.jsp?id=${property.id}&estate_id=${estate.id}">${property.name}</a>
&nbsp; &nbsp;
#end
&nbsp; 
</td>


</tr>
#end
</table>

<a href="estate-new.jsp">
<img alt="add icon" title="Add new estate record"
src="$contextPath/gr/add.png" width="16" height="16" border="0" />
Add new estate record</a>


#end
