$breadcrumbs.add("Estates","estate-list.jsp").add("${estate.name} (phase${estate.projectPhase})")

<a class="btn btn-primary pull-right" href="estate-edit.jsp?id=${estate.id}">Edit</a>

##
## Families
##
<a name="families"></a>
<h2>Associated Families</h2>

<ul class="bulletList">
#foreach ($family in $estate.families)
<li> <a href="family-show.jsp?id=$family.id">$family.name</a> 
#if ($family.title && $family.title.length() > 0)
<em>(${family.title})</em>
#end
</li>
#end
</ul>

#if ($estate.families.size() == 0)
<em>none</em>
#end


<h2>Description</h2>
$!estate.description
#if (! $estate.description || $estate.description.length()==0)
<em>none</em>
#end


##
## Houses
##
<a name="houses"></a>
<h2>Houses</h2>
#set($showActionsColumn="false")
#parse ("_estate_houses_table.vm")
## End list of House records


##
## Employee Records
##
#if ($PROJECT_ID=="ERDB")
<h2>Historical Employee Records</h2>
#parse("_employee_record_table.vm")
<hr>
#parse ("/backend/_employee_record_reference_table.vm")
<hr>
#end
## End list of Employee Records

##
## References
##
<a name="references"></a>
<h2>References</h2>

#foreach ($refCatName in $referenceCategoryNames)
<h3>$refCatName</h3>
#if (! $referenceCategories.get($refCatName).size())
<em>none</em>
#else
<ul class="bulletList">
#foreach ($reference in $referenceCategories.get($refCatName))
<li> <a href="refsource-show.jsp?id=$reference.source.id">$jsp.markingsToHtml(${reference.source.name})</a>: 
$jsp.markingsToHtml($reference.description) </li>
#end
</ul>
#end
#end

#if ($problemReferences.size() > 0)
<div class="alert alert-danger">
<h3>problematic references</h3>
<ul class="bulletList">
#foreach ($ref in $problemReferences)
	<li> <a href="reference-edit.jsp?id=$ref.getId()">Reference#$ref.getId()</a>,
	source=
	#if ($ref.getSource() ) 
		$ref.getSource().getName(): 
	#else 
		<span class="errorMessage">No reference source set</span>
	#end
	
	description=
	#if ($ref.description)
		$ref.description
	#else
		<div class="alert alert-info">No reference description</div>
	#end
	
	</li>
#end
</ul>
Please edit this Estate record and correct issues highlighted above.
</div>
#end

<br />

<a class="btn btn-primary" href="estate-edit.jsp?id=$estate.getId()">Edit</a>

