$breadcrumbs.add("Estates","estate-list.jsp").add("$estate.name","estate-show.jsp?id=$estate.id").add("edit")

<form name="editform" action="estate-edit-submit.jsp" method="POST">
<input type="hidden" name="id" 
value="$!estate.getId()" />




<div class="form-group">
<label for="name">Estate name</label>
<input type="text" class="form-control" size="40" id="name" name="name"
value="$!{estate.name}" />
</div>

<div class="form-group">
<label for="name">Estate description</label>
<textarea class="form-control" name="description"
rows="5" cols="80"/>$!{estate.description}</textarea>
<br />
</div>

##
## Families
##
<div class="form-group">
<label for="families">Associated families</label>
<table class="stdTable">
<thead>
<tr>
<th>family name / title</td>
<th>actions</th>
</tr>
</thead>

<tbody>
#foreach ($family in $estate.getFamilies())
<tr>
<td>${family.nameAndTitle}</td>
<td>

<a class="btn btn-primary btn-sm" 
href="estate-remove-family.jsp?estate_id=$estate.getId()&family_id=$family.getId()"
onClick="return confirm('Are you sure you want to remove family from estate record?');">remove association</a>

</td>
</tr>
#end
</tbody>
</table>
<input type="submit" class="btn btn-primary btn-sm" name="_submit_add_family"
value="Add family association" />
</div>


##
## Houses
##
<div class="form-group">
<label for="properties">Houses</label>
<table class="stdTable">
<thead>
<tr>
<th>house</th>
<th>townland</th>
<th>DED</th>
<th>barony</th>
<th>PLU</th>
<th>county</th>
<th>OS Sheet</th>
<th>Images</th>
<th>actions</th>
</tr>
</thead>

<tbody>
#foreach ($house in $estate.houses) 
<tr>
<td>
<a href="house-show.jsp?id=${house.id}">${house.name}</a></td>
<td>$!{house.townland}</td>
<td>$!{house.ded}</td>
<td>$!{house.barony}</td>
<td>$!{house.plu}</td>
<td>$!{house.county}</td>
<td>$!{house.osSheet}</td>
<td>
#if ($!house.images.size() > 0) 
yes ($house.images.size())
#else 
no 
#end
</td>

<td>
<a href="property-remove.jsp?id=${property.id}&estate_id=${estate.id}"
class="btn btn-primary btn-sm"
onClick="return confirm('Are you sure you want to remove this house?');"
>remove association</a>
</td>

</tr>
#end
</tbody>
</table>

<input type="submit" class="btn btn-primary btn-sm" name="_submit_new_house"
value="Add new house record" />

<input type="submit" class="btn btn-primary btn-sm" name="_submit_existing_house"
value="Associate existing house record" />

</div>


##
## Employee Records
##
<div class="form-group">
<label for="properties">Historical Employee Records</label>
#parse ("/backend/_employee_record_reference_table.vm")
#parse("_employee_record_table.vm")
<a class="btn btn-primary btn-sm" href="employee-record-add.jsp?estate_id=${estate.id}">Add employee record</a>
</div>


##
## References
##
<div class="form-group">
<label for="references">References</label>
<table class="stdTable">

<thead>
<tr>
<th>reference</th>
<th>source</th>
<th>actions</th>
</tr>
</thead>

<tbody>
#foreach ($reference in $estate.references) 
<tr>
<td>
#if (! $reference.description) 
<div class="alert alert-danger">!!! No reference description !!!</div>
#else 
$reference.description
#end

</td>

<td> 
#if (! $reference.source)
<div class="alert alert-danger">!!! No reference source !!!</div>
#else
$reference.source.name
#if ($reference.source.category)
($reference.source.category.name)
#end
#end
</td>

<td>
<div class="btn-group">
<a class="btn btn-primary btn-sm" href="reference-edit.jsp?id=${reference.id}()&estate_id=${estate.id}">edit</a>
<a class="btn btn-danger btn-sm" href="estate-remove-reference.jsp?estate_id=${estate.id}&reference_id=${reference.id}"
onClick="return confirm ('Are you sure you want to delete reference?');">delete</a>
</div>
</td>

</tr>
#end
</tbody>

</table>


<input type="submit" class="btn btn-primary btn-sm" name="_submit_new_reference"
value="Add reference" />


</div>



<input type="submit" class="btn btn-primary" value="Save" />
</form>

