#parse ("/backend/_header.vm")

<h1>Estate: $estate.getName()</h1>

#if ($showBarcode)
<img id="recordIdBarcode" alt="Barcode"
src="$contextPath/bc/39/E$estate.getId()"
/>
#end

<h3>Associated Families</h3>

<ul class="bulletList">
#foreach ($family in $estate.getFamilies())
<li> <a href="family-show.jsp?id=$family.getId()">$family.getName()</a> 
#if ($family.getTitle() && $family.getTitle().length() > 0)
<em>($family.getTitle())</em>
#end
</li>
#end
</ul>

#if ($estate.getFamilies().size() == 0)
<em>none</em>
#end


<h3>Description</h3>
$!estate.getDescription()


<h3>Houses</h3>

#if ($estate.houses.size() == 0) 
<em>no houses</em>
#else
<table class="listTable">
<thead>
<tr>
<th width="300">House Name / Description</th>
<th>Townland</th>
<th>Civil Parish</th>
<th>PLU</th>
<th>DED</th>
<th>Barony</th>
<th>County</th>
<th>OS Grid Reference / Map</th>
</tr>
</thead>

#foreach ($house in $estate.houses) 
<tr valign="top">
<td>

##
## If just one image float to right of cell
##

#if ($house.getImages().size() == 1)
#foreach ($image in $house.getImages())
<img alt="image" src="$contextPath/img/tn/$image.getId()" align="right" />
#end
#end

<a href="house-show.jsp?id=$house.getId()">$house.getName()</a>
<br />

$!house.getDescription()

##
## If more than one house then list after description
##

#if ($house.getImages().size() > 1)
<br />
#foreach ($image in $house.getImages())
<img alt="image" src="$contextPath/img/tn/$image.getId()" />
#end
#end


</td>

<td>$!house.getTownland() &nbsp;</td>
<td>$!house.getCivilParish() &nbsp;</td>
<td>$!house.getPlu() &nbsp;</td>
<td>$!house.getDed() &nbsp;</td>
<td>$!house.getBarony() &nbsp;</td>
<td>$!house.getCounty() &nbsp;</td>
<td>
#if ($house.hasGridReference())
<a href="javascript:popupMap('gridref=$house.getGridReference()')">$house.getGridReference()</a>
#end
#if ($house.getDiscoveryMap())
Discovery map #$house.getDiscoveryMap().
#end
#if ($house.getOsSheet())
OS Sheet #$house.getOsSheet().
#end
</td>

</tr>
#end
</table>
#end
## End list of houses


##
## Employee Records
##
#parse ("/backend/_employee_record_reference_table.vm")
##set ($editable=false)
<h3>Employee Records</h3>

#if ($estate.employeeRecords.size()==0)
	no records
#else

<table class="listTable">
<thead>
<tr>
<th>ID</th>
<th>Document Date</th>
<th>Description</th>
<th># References</th>
<th>Tags</th>
</tr>
</thead>
<tbody>
#foreach ($er in $estate.employeeRecords)
<tr>
<td><a href="employee-record-edit.jsp?id=$er.getId()">$er.getId()</a></td>
#if ($er.dateExpression)
<td>$er.dateExpression</td>
#else
<td>(none)</td>
#end
<td>$!er.getDescription()</td>
<td>
#employee_record_reference_table ($er $editable)
</td>
<td>
<ul>
#foreach ($tag in $er.tags)
<li><a href="employee-record-list.jsp?tag_id=$tag.id">$tag.name</a></li>
#end
</ul>
</td>
</tr>
#end
</tbody>
</table>

#end
[<a href="employee-record-add.jsp?estate_id=${estate.id}">Add employee record</a>]
## End list of Employee Records



#if ($estate.getReferences().size() == 0)
<em>none</em>
#end


#foreach ($referenceCategoryName in $referenceCategoryNames)
<h3>$referenceCategoryName</h3>
<ul class="bulletList">
#foreach ($reference in $referenceCategories.get($referenceCategoryName))
<li> <a href="refsource-show.jsp?id=$reference.getSource().getId()">$jsp.markingsToHtml($reference.getSource().getName())</a>: 
$jsp.markingsToHtml($reference.getDescription()) </li>
#end
</ul>
#end

#if ($problemReferences.size() > 0)
<div class="warning">
<h3>problematic references</h3>
<ul class="bulletList">
#foreach ($ref in $problemReferences)
	<li> <a href="reference-edit.jsp?id=$ref.getId()">Reference#$ref.getId()</a>,
	source=
	#if ($ref.getSource() ) 
		$ref.getSource().getName(): 
	#else 
		<span class="errorMessage">No reference source set</span>
	#end
	
	description=
	#if ($ref.getDescription())
		$ref.getDescription()
	#else
		<span class="errorMessage">No reference description</span>
	#end
	
	</li>
#end
</ul>
Please edit this Estate record and correct issues highlighted above.
</div>
#end

<p>
[
<a href="estate-edit.jsp?id=$estate.getId()">edit</a>
]
</p>

#parse ("/backend/_footer.vm")

