
#if ($estate.getId())
<h2>Edit estate record: $estate.getName()</h2>
#else 
<h2>Create new estate record</h2>
#end

<form name="editform" action="estate-edit-submit.jsp" method="POST">
<input type="hidden" name="id" 
value="$!estate.getId()" />


<div class="form-group">
<input type="submit" class="btn btn-default" value="Save" />
</div>

<div class="form-group">
<label for="name">Estate name</label>
<input type="text" class="form-control" size="40" id="name" name="name"
value="$!{estate.name}" />
</div>

<div class="form-group">
<label for="name">Estate description</label>
<textarea class="form-control" name="description"
rows="5" cols="80"/>$!{estate.description}</textarea>
<br />
</div>


<div class="form-group">
<label for="families">Associated families</label>
<table border="1" class="listTable">
<thead>
<tr>
<th>family name</td>
<th>title</th>
<th>actions</th>
</tr>
</thead>

#foreach ($family in $estate.getFamilies())
<tr>
<td>$family.getName()</td>
<td>$!family.getTitle()</td>
<td>
[
<a href="estate-remove-family.jsp?estate_id=$estate.getId()&family_id=$family.getId()"
onClick="return confirm('Are you sure you want to remove family from estate record?');">delete</a>
]
</td>
</tr>
#end
</table>

<input type="submit" class="btn btn-default" name="_submit_add_family"
value="Add family association" />

</div>


<div class="form-group">
<label for="properties">Houses</label>
<table border="1" class="listTable">
<thead>
<tr>
<th>house</th>
<th>townland</th>
<th>DED</th>
<th>barony</th>
<th>PLU</th>
<th>county</th>
<th>OS Sheet</th>
<th>Images</th>
<th>actions</th>
</tr>
</thead>

#foreach ($house in $estate.getHouses()) 
<tr>
<td>
<a href="house-show.jsp?id=$house.getId()">$house.getName()</a></td>
<td>$!house.getTownland()</td>
<td>$!house.getDed()</td>
<td>$!house.getBarony()</td>
<td>$!house.getPlu()</td>
<td>$!house.getCounty()</td>
<td>$!house.getOsSheet()</td>
<td>#if ($!house.getImages().size() > 0) 
yes ($house.getImages().size())
#else no #end</td>
<!--
<td>$!house.getLatitude() $!house.getLongitude()</td>
-->
<td>
[
<a href="property-remove.jsp?id=$property.getId()&estate_id=$estate.getId()"
onClick="return confirm('Are you sure you want to remove this house?');"
>delete</a>
]
</td>

</tr>
#end
</table>

<input type="submit" class="btn btn-default" name="_submit_new_house"
value="Add new house" />

<input type="submit" class="btn btn-default" name="_submit_existing_house"
value="Add existing house record" />


</div>



<div class="form-group">
<label for="references">References</label>
<table border="1" class="listTable">

<thead>
<tr>
<th>reference</th>
<th>source</th>
<th>actions</th>
</tr>
</thead>

#foreach ($reference in $estate.getReferences()) 
<tr>
<td>
#if (! $reference.getDescription()) 
<span class="errorMessage">!!! No reference description !!!</span>
#else 
$reference.getDescription()
#end

</td>

<td> 
#if (! $reference.getSource())
<span class="errorMessage">!!! No reference source !!!</span>
#else
$reference.getSource().getName()
#if ($reference.getSource().getCategory())
($reference.getSource().getCategory().getName())
#end
#end
</td>
<td>
[
<a href="reference-edit.jsp?id=$reference.getId()&estate_id=$estate.getId()">edit</a>
]

&nbsp;
&nbsp;
&nbsp;

[
<a href="estate-remove-reference.jsp?estate_id=$estate.getId()&reference_id=$reference.getId()"
onClick="return confirm ('Are you sure you want to delete reference?');">delete</a>
]

</td>
</tr>
#end
</table>


<input type="submit" class="btn btn-default" name="_submit_new_reference"
value="Add new reference" />


</div>



<input type="submit" class="btn btn-primary" value="Save" />
</form>

