
## Update to use https://twitter.github.io/typeahead.js/examples/

<h2>Add family to estate ${estate.name}</h2>

<form action="estate-add-family-submit.jsp" method="POST">
<input type="hidden"  name="estate_id" value="${estate.id}" />

<div>
<label for="acinput" >Family to add:</label>
<input id="acinput" class="typeahead" type="text" name="family" size="32" />
</div>


<input type="submit" class="btn btn-primary" value="Add" />
<input type="submit" class="btn btn-default" name="_submit_cancel" value="Cancel" />
</form>

<script>

jQuery(function(){
	jQuery('#acinput').typeahead(null,
	{
		afterSelect: function(val) { this.$element.val(""); },
		source: function(query,process) {
		console.log("process="+process);
		// TODO: async false is deprecated
		var result = null;
		jQuery.ajax({
			url: "family-query.jsp?q="+query,
			type: "get",
			dataType: "html",
			async: false,
			success: function(data) {
				result = data;
			} 
		});
		console.log(result);
		console.log(JSON.parse(result));
		//return  JSON.parse(result);
		process(JSON.parse(result));
	}
	});
});

</script>
