$breadcrumbs.add("Houses","house-list.jsp")

#if($FALSE)
<div class="a-z">
|&nbsp;
#foreach ($l in $alphabet)
	#if ($l == $letter)
	<b>$l</b>
	#else
	<a href="house-list.jsp?letter=$l&p=$!phase">$l</a>
	#end
	&nbsp;|&nbsp;
#end
<br />
<a href="house-list.jsp?letter=_all&p=$!phase">List all houses</a>
</div>
#end


<form  action="search.jsp" method="POST">
<input type="hidden" name="filter" value="house" />
<div class="form-group">
<label>Search in house records</label>
<div class="input-group">
	<input type="text" class="form-control" name="q" />
	<input class="input-group-addon btn btn-primary" type="submit" 
	class="form-control" value="Search" 
	aria-label="search for house record"/>
</div>
</div>
</form>

#if ($houses) 
<table class="stdTable">
<thead>
<tr>
<th>House name / description</th>
</tr>
</thead>

#foreach ($p in $houses) 
<tr>
<td>
#if ($p.name && $p.name.length()>0)
<b><a href="house-show.jsp?id=${p.id}">${p.name}</a></b>
&nbsp;
#else
<b><a href="house-show.jsp?id=${p.id}"><em>no name</em></a></b>
#end


#foreach ($image in $p.images)
<a href="image-show.jsp?id=${image.id}"><img
style="margin:2px;"
alt="image #${image.id}"
title="$jsp.escape($image.caption)"
align="right"
src="$contextPath/img/tn/${image.id}.jpg" 
/></a>
#end

$!{p.description}

<tag>#Phase${p.projectPhase}</tag>



</td>

</tr>
#end
</table>
#end

