$breadcrumbs.add("Houses","house-list.jsp").add($house.name,"house-show.jsp?id=$house.id").add("edit")

<form action="property-edit-submit.jsp" method="POST">

<input type="hidden" name="id" value="${house.id}" />
<input type="hidden" name="estate_id" value="${estate.id}" />

<div class="form-group">
<label for="name">House name</label>
<input type="text" class="form-control" size="40" id="name" name="name"
value="$!{house.name}" />
</div>


<div class="form-group">
<label for="field_description">Description</label>
<textarea id="field_description" name="description" class="form-control"
rows="5" cols="80"/>$!{house.description}</textarea>
</div>

<div class="form-group">
<label for="field_townloand">Townland</label>
<input type="text" class="form-control" id="field_townland" name="townland"
value="$!{house.townland}" />
</div>

<div class="form-group">
<label for="field_civil_parish">Civil Parish</label>
<input type="text" class="form-control" id="field_civil_parish" name="civil_parish"
value="$!{house.civilParish}" />
</div>


<div class="form-group">
<label for="field_plu">Poor Law Union (PLU)</label>
<input type="text" class="form-control" id="field_plu" name="plu"
value="$!{house.plu}" />
</div>

<div  class="form-group">
<label for="field_ded">DED</label>
<input type="text" class="form-control" id="field_ded" name="ded"
value="$!{house.ded}" />
</div>


<div class="form-group">
<label for="field_barony">Barony</label>
<input type="text" class="form-control" id="field_barony" name="barony"
value="$!{house.barony}" />
</div>

<div class="form-group">
<label for="field_county">County</label>
<select id="field_county" name="county" class="form-control">
#foreach ($county in $counties)
#if ($house.county == $county )
<option value="$county" selected="yes">$county</option>
#else
<option value="$county">$county</option>
#end
#end
</select>
</div>


<h3>Map/Grid Reference</h3>

<div class="form-group">
<label for="os_sheet">OS Sheet Number</label>
<input type="text" id="os_sheet" name="os_sheet" class="form-control"
size="4" value="$!{house.osSheet}" />
</div>

<div class="form-group">
<label for="discovery_map">Discovery Series Map#</label>
<input type="text" class="form-control"
id="field_discovery_map" name="discovery_map"
size="4" value="$!{house.discoveryMap}" />
</div>


<div class="form-group">
<label for="field_grid_ref">Grid Reference: </label>
<input type="text" 
id="field_grid_ref" name="grid_ref" class="form-control"
size="48"
value="$!{house.gridReference}" />

<button type="button"
onClick="window.open('popup-map.jsp?id=${house.id}', 'popupMap', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=420,height=450');"
/>Map</button>
</div>


<div class="form-group">
<label>Images</label>

#if ($house.images.size() > 0) 
#foreach ($image in $house.images)
<div style="margin-bottom: 5px;">
<a href="image-show.jsp?id=$image.getId()"><img border="1"
alt="image #${image.id}" title="image #$image.getId()"
src="$contextPath/img/tn/${image.id}.jpg" align="left"/></a>
<br>
<b>Caption:</b> $!{image.caption}.
<b>Description:</b> $!{image.descrption}

<p>
[
<a href="image-show.jsp?id=${image.id}">edit</a>
]
&nbsp;
[
<a href="image-delete.jsp?id=${image.id}&house_id=${house.id}"
onClick="return confirm('Are you sure you want to delete this image?');">delete</a>
]
</p>

</div>
<br clear="both" />


#end
#else
<em>no images</em>
#end

<p>
Click on image thumbnail to edit image caption/description.
</p>

<p>
[
<a href="image-new.jsp?house_id=${house.id}">Add image</a>
]
</p>

</div>

<input type="submit" value="Submit" />
</form>

