$breadcrumbs.add("Houses","house-list.jsp").add($house.name)

<a class="btn btn-primary pull-right" href="house-edit.jsp?id=$house.id">edit</a>


#if ($PROJECT_ID=="ERDB")
[<a href="employee-record-add.jsp?house_id=$house.getId()">Add employee record</a>]
#end

<table class="stdTable">

<tr valign="top">
<td width="150">Estate(s):</td>
<td colspan="2">
<ul class="noBullet">
#foreach ($estate in $estates)
<li> <a href="estate-show.jsp?id=${estate.id}">${estate.name}</a></li>
#end
</ul>
</td>
</tr>

<tr><td>House name:</td><td colspan="2">${house.name}</td></tr>
<tr><td>Description:</td><td colspan="2">$!{house.description}</td></tr>

#if($PROJECT_ID=="ERDB")
<tr><td>Employee Records:</td>
<td colspan="2">
#if ($house.employeeRecords.size()==0)
	<em>no records</em>
#else
	#set($estate=$house)
	#parse("_employee_record_table.vm")
#end
</td>
</tr>
#end


<!-- Location info -->

<tr>
<td>Townland:</td>
<td>$!house.getTownland()</td>
<td width="550" rowspan="9">
#if ($house.hasGridReference())
<div id="mapContainer" style="width:550px; height:300px;"></div>
#end
</td>
</tr>

<tr>
<td>Civil Parish:</td>
<td>
#if ($house.getCivilParish())
$!house.getCivilParish()
#else
<em>n/a</em>
#end
</td>
</tr>

<tr>
<td>Poor Law Union:</td>
<td>
#if ($house.getPLU())
$house.getPLU()
#else
<em>n/a</em>
#end
</td>
</tr>

<tr>
<td>DED:</td>
<td>
#if ($house.getDED())
$!house.getDED()
#else
<em>n/a</em>
#end</td>
</tr>

<tr><td>Barony:</td>
<td>
#if ($house.getBarony())
$!house.getBarony()
#else 
<em>n/a</em>
#end
</td>
</tr>


<tr><td>County:</td><td>$!house.getCounty()</td></tr>
<tr><td>OS Sheet Number:</td><td>$!house.getOsSheet()</td></tr>
#if ($house.hasGridReference())
<tr>
<td>OSI Grid Reference:</td>
<td><a href="javascript:popupMap('gridref=$house.getGridReference()');">$house.getGridReference()</a></td>
</tr>
<tr><td>Latitude/Longitude:</td>
<td>$jsp.formatLatLon($house)
<br>
[
<a href="house-kml.jsp?id=$house.getId()">Google Earth</a>
]
</td></tr>
#else
<tr><td>OSI Grid Reference:</td><td><em>n/a</em></td></tr>
<tr><td>Latitude/Longitude:</td><td><em>n/a</em></td></tr>
#end
</table>

<p>
[
<a href="house-edit.jsp?id=$house.getId()">edit</a>
]
&nbsp;
[
<a href="house-nearby.jsp?id=$house.getId()">show nearby</a>
]
</p>


<a name="images"></a>
<h3>Images</h3>

#if ($house.images.size() > 0) 
#foreach ($image in $house.images) 
<div class="imageAndCaption">
<a href="image-show.jsp?id=${image.id}"><img 
src="$contextPath/img/im/${image.id}.jpg" /></a>
<br />
${image.caption}
</div>
#end
</ul>
#else
<em>no images</em>
#end

#if ($house.hasGridReference())
#set ($cx=$house.longitudeDeg)
#set ($cy=$house.latitudeDeg)
##parse ("/backend/_google_map.vm")
#end

