$breadcrumbs.add("Houses","house-list.jsp").add($house.name)


<table class="stdTable">

<tr valign="top">
<td width="150">Estate(s):</td>
<td colspan="2">
<ul class="noBullet">
#foreach ($estate in $estates)
<li> <a href="estate-show.jsp?id=${estate.id}">${estate.name}</a></li>
#end
</ul>
</td>
</tr>

<tr><td>Property/House name:</td><td colspan="2">${house.name}</td></tr>
<tr><td>Description:</td><td colspan="2">$!{house.description}</td></tr>

#if ($FALSE)
<tr><td>Employee Records:</td>
<td colspan="2">
#if ($house.getEmployeeRecords().size()==0)
no records
#else
<table class="listTable">
<thead>
<tr>
<th>ID</th>
<th>Document Date</th>
<th>Description</th>
<th># References</th>
<th>Tags</th>
</tr>
</thead>

<tbody>
#foreach ($er in $house.getEmployeeRecords())
<tr>
<td><a href="employee-record-edit.jsp?id=$er.getId()">$er.getId()</a></td>
#if ($er.date)
<td>$dateFormat.format($er.date)</td>
#else
<td>(none)</td>
#end
<td>$!er.getDescription()</td>
<td>$er.references.size()</td>
<td>
<ul>
#foreach ($tag in $er.tags)
<li><a href="employee-record-list.jsp?tag_id=$tag.id">$tag.name</a></li>
#end
</ul>
</td>
#end


</tr>
#end
</tbody>
</table>
#end
[<a href="employee-record-add.jsp?house_id=$house.getId()">Add employee record</a>]
</td></tr>


<!-- Location info -->

<tr>
<td>Townland:</td>
<td>$!house.getTownland()</td>
<td width="550" rowspan="9">
#if ($house.hasGridReference())
<div id="mapContainer" style="width:550px; height:300px;"></div>
#end
</td>
</tr>

<tr>
<td>Civil Parish:</td>
<td>
#if ($house.getCivilParish())
$!house.getCivilParish()
#else
<em>n/a</em>
#end
</td>
</tr>

<tr>
<td>Poor Law Union:</td>
<td>
#if ($house.getPLU())
$house.getPLU()
#else
<em>n/a</em>
#end
</td>
</tr>

<tr>
<td>DED:</td>
<td>
#if ($house.getDED())
$!house.getDED()
#else
<em>n/a</em>
#end</td>
</tr>

<tr><td>Barony:</td>
<td>
#if ($house.getBarony())
$!house.getBarony()
#else 
<em>n/a</em>
#end
</td>
</tr>


<tr><td>County:</td><td>$!house.getCounty()</td></tr>
<tr><td>OS Sheet Number:</td><td>$!house.getOsSheet()</td></tr>
#if ($house.hasGridReference())
<tr>
<td>OSI Grid Reference:</td>
<td><a href="javascript:popupMap('gridref=$house.getGridReference()');">$house.getGridReference()</a></td>
</tr>
<tr><td>Latitude/Longitude:</td>
<td>$jsp.formatLatLon($house)
<br>
[
<a href="house-kml.jsp?id=$house.getId()">Google Earth</a>
]
</td></tr>
#else
<tr><td>OSI Grid Reference:</td><td><em>n/a</em></td></tr>
<tr><td>Latitude/Longitude:</td><td><em>n/a</em></td></tr>
#end
</table>

<p>
[
<a href="house-edit.jsp?id=$house.getId()">edit</a>
]
&nbsp;
[
<a href="house-nearby.jsp?id=$house.getId()">show nearby</a>
]
</p>



#if ($house.hasGridReference())
<!--
<h3>Map</h3>
<div id="xmapContainer" class="googleMapShowProperty"></div>
<p>
[
<a href="house-nearby.jsp?id=$house.getId()">List nearby properties</a>
]
</p>
-->




<script type="text/javascript" 
src="http://api.maps.yahoo.com/ajaxymap?v=3.0&appid=$yahooMapKey"></script>
<script type="text/javascript">
var myPoint = new YGeoPoint($house.getLatitudeDeg(),$house.getLongitudeDeg());
var map = new YMap(document.getElementById('mapContainer'),YAHOO_MAP_REG);

// Add controls
map.addPanControl(); 
map.addZoomLong(); 
map.addTypeControl();

map.drawZoomAndCenter(myPoint, 3);
var marker = new YMarker(myPoint);
marker.addLabel("X");
map.addOverlay(marker);
</script>

#end


<h3>Images</h3>

#if ($house.getImages().size() > 0) 
#foreach ($image in $house.getImages()) 
<div class="imageAndCaption">
<a href="image-show.jsp?id=$image.getId()"><img 
src="$contextPath/img/im/${image.getId()}.jpg" /></a>
<br />
$image.getCaption()
</div>
#end
</ul>
#else
<em>no images</em>
#end

#if ($house.hasGridReference())
#set ($cx=$house.getLongitudeDeg())
#set ($cy=$house.getLatitudeDeg())
##parse ("/backend/_google_map.vm")
#end

