$breadcrumbs.add("Estates","estate-list.jsp").add("$estate.name","estate-edit.jsp?estate_id=$estate.id").add("associate house")

<form action="house-add-existing-submit.jsp" method="POST">
<input type="hidden" name="estate_id" 
value="$estate.getId()" />


<div class="form-group">
<label for="acinput">House:</label>
<input id="acinput" class="form-control" type="text" name="property" size="80" />
</div>


<input type="submit" class="btn btn-primary" value="Add house" />
</form>