<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Landed Estates Database Administration</title>

#include("_inc_header.vm")
    
  </head>

  <body>

#parse("_nav_header.vm")


    <main role="main" class="container">
    <div class="row">
    <div class="col-md-12">

#if ($pageId.startsWith("./"))
	#set($templateFileName=$pageId+".vm")
#else
	#set($templateFileName="/_"+$pageId+".vm")
#end
#parse ($templateFileName)

	</div>
	</div>
    </main><!-- /.container -->
#parse ("_inc_footer.vm")
  </body>
</html>
