#parse ("/backend/_header.vm")

<h2>Create new reference for estate $estate.getName()</h2>

<form action="reference-new-submit.jsp" method="POST">

<input type="hidden" name="estate_id"
value="$estate.getId()" />

<div>
<label for="field_description">Reference description</label>

##<input type="text" size="40" id="name" name="description"
##value="" />

<textarea id="field_description" name="description"
rows="5" cols="60" wrap="virtual"></textarea>

</div>

<div id="acdiv">
<label for="acinput">Reference source:</label>
<input id="acinput" type="text" name="refsource" size="80" />
<br clear="both">
</div>

<br clear="both">

<input type="submit" value="Save &amp; add new reference" />
<input type="submit" name="_submit_exit" value="Save &amp; return to estate record"  />

</form>

<script>
jQuery(function() {
	jQuery( "#acinput" ).autocomplete({
		source: function (request, response) {
			jQuery.ajax ( {
				url: "query-refsource.async.jsp",
				data: {q : request.term},
				dataType: "json",
				success: function (data) {
					response(data);
				}
			} );
		}
	});
});
</script>

#parse ("/backend/_footer.vm")

