$breadcrumbs.add("Reference Sources","refsource-list.jsp").add($source.name)

<table class="stdTable">
<tr><td>Category: </td><td>$source.getCategory().getName() </td></tr>
<tr valign="top"><td>Description: </td><td>$!source.getDescription()</td></tr>

<tr><td>Contact person:</td> <td>$!{source.contactPerson}</td></tr>
<tr><td>Telephone:</td> <td> $!{source.getContactTelephone}</td></tr>
<tr><td>Email:</td><td>$!{source.contactEmail}</td></tr>
<tr><td>Web:</td><td>$!{source.contactWeb}</td></tr>

</table>


<div class="form-group">
<a class="btn btn-primary" href="refsource-edit.jsp?id=${source.id}" >Edit</a>
<a class="btn btn-danger" href="refsource-delete.jsp?id=$source.getId()"
onClick="return confirm('Are you sure you want to delete reference source?');">Delete</a>

</div>



<h2>Estate records citing this source</h2>

<p>
Found $records.size() estate records citing this source.
</p>

<ul>
#foreach ($estate in $records) 
<li> 
Estate <a href="estate-show.jsp?id=$estate.getId()">$estate.getName()</a>

(families: 
#foreach ($family in $estate.getFamilies())
<a href="family-show.jsp?id=$family.getId()">
$family.getName()
#if ($family.getTitle())
<em>($family.getTitle())</em>
#end
</a>
;
#end
)

<ul>
#foreach ($reference in $estate.getReferences())
#if ($reference.getSource() == $source)
<li> <a href="reference-edit.jsp?id=$reference.getId()&estate_id=$estate.getId()">Reference #$reference.getId()</a>: $!reference.getDescription() </li>
#end
#end
</ul>

</li>
#end
</ul>



