<table class="stdTable">
<thead>
<tr>
<th>name</th>
<th>category</th>
<th>contact details</th>
<th>actions</th>
</tr>
</thead>

#foreach ($source in $referenceSources)
<tr>
<td>
<a href="refsource-show.jsp?id=$source.getId()">
#if (! $source.getName() || $source.getName().length() == 0) 
<em>(no name)</em>
#else
$source.getName()
#end
</a>
</td>

<td>$!{source.category.name}</td>

<td>
#if ($source.contactPerson && $source.contactPerson.length()>0)
Person: $!{source.contactPerson}<br />
#end

#if ($source.contactTelephone && $source.contactTelephone.length()>0)
Tel: $!{source.contactTelephone}<br />
#end

#if ($source.contactEmail && $source.contactEmail.length()>0)
Email: $!{source.contactEmail}<br />
#end

#if ($source.contactWeb && $source.contactWeb.length()>0)
Web:  $!{source.contactWeb}<br />
#end

</td>

<td>
<a class="btn btn-sm btn-danger" href="refsource-delete.jsp?id=$source.getId()"
onClick="return confirm('Are you sure you want to delete reference source?');">delete</a>
</td>
</tr>
#end
</table>
