##
## Parameters:
## $estate
## $showActionsColumn ("true"|"false") optional
##

#if (! $estate.houses || $estate.houses.size()==0)
	<div class="alert alert-info"><b class="fa fa-info-circle"></b> There are no house records associated with this estate.</div>
#else
<table class="stdTable">
<thead>
<tr>
<th>House</th>
<th>Townland</th>
<th>Civil Parish</th>
<th>DED</th>
<th>Barony</th>
<th>PLU</th>
<th>County</th>
<th>OS Sheet</th>
<th>Images</th>
#if ($showActionsColumn=="true")
<th>actions</th>
#end
</tr>
</thead>

<tbody>
#foreach ($house in $estate.houses) 
<tr>
<td>
<a href="house-show.jsp?id=${house.id}">${house.name}</a></td>
<td>$!{house.townland}</td>
<td>$!house.civilParish</td>
<td>$!{house.ded}</td>
<td>$!{house.barony}</td>
<td>$!{house.plu}</td>
<td>$!{house.county}</td>

##<td>$!{house.osSheet}</td>


<td>
#if ($house.hasGridReference())
<a href="javascript:popupMap('gridref=${house.gridReference}')">${house.gridReference}</a>
#end
#if ($house.discoveryMap)
Discovery map #${house.discoveryMap}.
#end
#if ($house.osSheet)
OS Sheet #${house.osSheet}.
#end
</td>


<td>
#if ($!house.images.size() > 0) 
yes ($house.images.size())
#else 
no 
#end
</td>

#if ($showActionsColumn=="true")
<td>
<a href="property-remove.jsp?id=${property.id}&estate_id=${estate.id}"
class="btn btn-primary btn-sm"
onClick="return confirm('Are you sure you want to remove this house?');"
>remove association</a>
</td>
#end

</tr>
#end
</tbody>
</table>
#end