## 
## Javascript to generate map. Map will be rendered in div#mapContainer
## Input parameters: properties (list of Propery objects) cx,cy (center)
##

<script 
src="https://maps.googleapis.com/maps/api/js?v=3&key=${GOOGLE_MAP_KEY}"></script>
<script>
var cx = $cx;
var cy = $cy;
jQuery(function(){
	map = new google.maps.Map(document.getElementById('map'), {
		center: {lat: cy, lng: cx},
		zoom: 8
	});
	
	var marker = new google.maps.Marker({
	position:{lat:cy,lng:cx},map:map});
});
</script>
