    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    
    <!-- Custom styles for this template -->
    <link href="${contextPath}/css/starter-template.css" rel="stylesheet">
    <link href="${contextPath}/css/examples.css" rel="stylesheet">
    <link href="${contextPath}/css/style.css" rel="stylesheet">
    
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <script src="${contextPath}/webjars/jquery/2.2.4/jquery.min.js" crossorigin="anonymous"></script>
    <script src="${contextPath}/js/typeahead.bundle.min.js"></script>