<div class="modal fade" id="modal_help" tabindex="-1" role="dialog" aria-labelledby="help">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Help2</h4>
			</div>

			<div class="modal-body">
				
			</div>
			
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>