## 
## Navbar at top of UI (no menu version for login etc)
## Styling:
## use nav class bg-dark | bg-primary | bg-info ... etc
##

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="#" style="padding:0;margin:0;line-height:0.5em">
	<img  width="128" src="${contextPath}/assets/nuig_logo_2017.png"/><br />
	<span style="font-size:8pt;">Landed Estates Database</span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
</nav>
