<select id="project_phase" class="form-control" name="project_phase">
<option value="1">Phase 1: Connaught</option>
<option value="2">Phase 2: Munster</option>
<option value="3" selected>Phase 3: Ulster</option>
<option value="4">Phase 4: Leinster</option>
</select>
