$breadcrumbs.add("Estates","estate-list.jsp").add("$estate.name","estate-show.jsp?id=$estate.id").add("edit")

<form id="estate_edit_form" action="estate-edit-submit.jsp" method="POST">

<input type="hidden" name="id" value="$!{estate.id}" />

<div class="form-group">
<div class="row">
<div class="col-md-6">
<label for="name">Estate name</label>
<input type="text" class="form-control" id="name" name="name"
value="$!{estate.name}" />
</div>
<div class="col-md-3">
<label for="name">Tags</label>
<input type="text" class="form-control" name="tags"
value="$!{estate.tags}" />
</div>
<div class="col-md-3">
<label for="name">Project phase</label>
<input type="text" class="form-control" name="project_phase"
value="$!{estate.projectPhase}" />
</div>
</div>
</div>

<div class="form-group">
<label for="name">Estate description</label>
<textarea class="form-control" name="description"
rows="5" cols="80"/>$!{estate.description}</textarea>
</div>

##
## Family associations
##
<a name="families"></a>
<div class="form-group">
<label for="families">Associated families</label>
#parse("_estate_families_table.vm")
<button type="submit" class="btn btn-primary btn-sm" name="_submit_add_family">
<b class="fa fa-plus"></b> Add family association
</button>
</div>


##
## Houses
##
<a name="houses"></a>
<div class="form-group">
<label for="properties">Houses</label>
#parse ("_estate_houses_table.vm")
<button type="submit" class="btn btn-primary btn-sm" name="_submit_new_house">
<b class="fa fa-plus"></b> Add new house record</button>
<button type="submit" class="btn btn-primary btn-sm" name="_submit_existing_house">
<b class="fa fa-plus"></b> Associate existing house record</button>
</div>



##
## Employee Records
##
#if($PROJECT_ID=="ERDB")
<div class="form-group">
<label for="properties">Historical Employee Records</label>
#parse ("/backend/_employee_record_reference_table.vm")
#parse("_employee_record_table.vm")
<a class="btn btn-primary btn-sm" href="employee-record-add.jsp?estate_id=${estate.id}">Add employee record</a>
</div>
#end


##
## References
##
<a name="references"></a>
<div class="form-group">
<label for="references">References</label>
#parse ("_estate_reference_table.vm")
<input type="submit" class="btn btn-primary btn-sm" name="_submit_new_reference"
value="Add reference" />
</div>


<input type="submit" class="btn btn-primary" value="Save" />
</form>

<script>
var needToSave = false;
jQuery(function(){
	$(document).click("a", function(event){
		if (needToSave == true) {
			alert("You need to save first");
			event.preventDefault();
			return;
		}
	});
});
</script>
