$breadcrumbs.add("Estates","estate-list.jsp")

#if($FALSE)
<div class="a-z">
|&nbsp;
#foreach ($l in $alphabet)
	#if ($l == $letter)
	<b>$l</b>
	#else
	<a href="estate-list.jsp?letter=$l">$l</a>
	#end
	&nbsp;|&nbsp;
#end
<br />
<a href="estate-list.jsp?letter=_all">List all estates</a>
</div>
#end

<form  action="search.jsp" method="POST">
<input type="hidden" name="filter" value="estate" />
<div class="form-group">
<label>Search in estate records</label>
<div class="input-group">
	<input type="text" class="form-control" name="q" />
	<input class="input-group-addon btn btn-primary" type="submit" 
	class="form-control" value="Search" 
	aria-label="search for estate record"/>
</div>
</div>
</form>


#if ($estates) 
<table class="stdTable">
<thead>
<tr>
<th>Estate name / description</th>
</tr>
</thead>

<tbody>
#foreach ($estate in $estates)
	<tr><td>
	#if ($estate.name && $estate.name.length()>0)
		<b><a href="estate-show.jsp?id=${estate.id}">${estate.name}</a></b>
	#else
		<b><a href="estate-show.jsp?id=${estate.id}"><em>no name</em></a></b>
	#end
	
	(families 
	#foreach ($family in $estate.families)
		<a class="badge badge-success" href="family-show.jsp?id=${family.id}">${family.name}</a>
	#end
	,
	houses
	#foreach ($house in $estate.houses)
		<a class="badge badge-info" href="house-show.jsp?id=${house.id}">${house.name}</a>
	#end
	)
	
	$!{estate.description}

	<tag>Phase${estate.projectPhase}</tag>
	</td></tr>
#end
</tbody>
</table>
#end

Recent:
<table class="stdTable">
<thead>
<tr><td>Record ID</td><td>Name</td><td>Last modified</td><td>User</td></tr>
</thead>

<tbody>
#foreach ($estate in $recent)
<tr>
<td><a href="estate-show.jsp?id=${estate.id}">${estate.luceneId}</a></td>
<td>${estate.name}</td><td>${estate.lastModified}</td><td>${estate.lastModifiedBy.username}</td></tr>
#end
</tbody>

</table>
