$breadcrumbs.add("Families","family-list.jsp")

#if($FALSE)
<div class="a-z">
|&nbsp;
#foreach ($l in $alphabet)
	#if ($l == $letter)
	<b>$l</b>
	#else
	<a href="family-list.jsp?letter=$l">$l</a>
	#end
	&nbsp;|&nbsp;
#end
<br />
<a href="family-list.jsp?letter=_all">List all families</a>
</div>
#end

<form  action="search.jsp" method="POST">
<input type="hidden" name="filter" value="family" />
<div class="form-group">
<label>Search in family records</label>
<div class="input-group">
	<input type="text" class="form-control" name="q" />
	<input class="input-group-addon btn btn-primary" type="submit" 
	class="form-control" value="Search" 
	aria-label="search for family record"/>
</div>
</div>
</form>

#if ($families)
<table border="1" class="listTable">
<thead>
<tr>
<th>family</th>
<th>title</th>
<th>description</th>
<th>estates</th>
<th>actions</th>
</tr>
</thead>

#foreach ($family in $families)
<tr>

<td><a href="family-show.jsp?id=$family.getId()">$family.getName()</a></td>

<td>$!family.getTitle() &nbsp;</td>

<td>$!family.getDescription() &nbsp;</td>

<td>
#foreach ($estate in $family.getEstates())
<a href="estate-show.jsp?id=$estate.getId()">$estate.getName()</a>
&nbsp; &nbsp;
#end
&nbsp;
</td>


<td>
[
<a href="family-delete.jsp?id=$family.getId()"
onClick="return confirm('Are you sure you want to delete family name?');"
>delete</a>
]
</td>
</tr>
#end
</table>

#end

<a class="btn btn-primary" href="family-add.jsp">Add family</a>

##parse ("/backend/_footer.vm")