$breadcrumbs.add("Families","family-list.jsp").add($family.nameAndTitle)

<table class="stdTable">

<tr>
<td width="150">Family name:</td>
<td>$family.getName()</td>
</tr>

<tr>
<td>Family title:</td>
<td>$!family.getTitle()</td>
</tr>

<tr valign="top">
<td>Description:</td>
<td>$!family.getDescription()</td>
</tr>



<tr valign="top">
<td>Estates:</td>
<td>
<ul>
#foreach ($estate in $estates) 
<li> <a href="estate-show.jsp?id=$estate.getId()">$estate.getName()</a>
#if ($estate.getDescription())
- $estate.getDescription()
#end
</li>
#end
</ul>

#if ($estates.size() == 0) 
<em>no estate records found</em>
#end
</td>
</tr>

</table>

<br />

<div class="form-group">
<a class="btn btn-primary" href="family-edit.jsp?id=$family.getId()">Edit</a>
</div>
