$breadcrumbs.add("Houses","house-list.jsp").add($house.name,"house-show.jsp?id=$house.id").add("edit")

<form action="house-edit-submit.jsp" method="POST">

<input type="hidden" name="id" value="${house.id}" />
<input type="hidden" name="estate_id" value="${estate.id}" />

<div class="form-group">
<label for="name">House name</label>
<input type="text" class="form-control" size="40" id="name" name="name"
value="$!{house.name}" />
</div>


<div class="form-group">
<label for="field_description">Description</label>
<textarea id="field_description" name="description" class="form-control"
rows="5" cols="80"/>$!{house.description}</textarea>
</div>

##<div class="row">
##<div class="col-md-9">

<div class="row">

<div class="col-md-4 form-group">
<label for="field_townloand">Townland</label>
<input type="text" class="form-control" id="field_townland" name="townland"
value="$!{house.townland}" />
</div>

<div class="col-md-4 form-group">
<label for="field_civil_parish">Civil Parish</label>
<input type="text" class="form-control" id="field_civil_parish" name="civil_parish"
value="$!{house.civilParish}" />
</div>


<div class="col-md-4 form-group">
<label for="field_plu">Poor Law Union (PLU)</label>
<input type="text" class="form-control" id="field_plu" name="plu"
value="$!{house.plu}" />
</div>

</div>

<div class="row">

<div  class="col-md-4 form-group">
<label for="field_ded">DED</label>
<input type="text" class="form-control" id="field_ded" name="ded"
value="$!{house.ded}" />
</div>


<div class="col-md-4 form-group">
<label for="field_barony">Barony</label>
<input type="text" class="form-control" id="field_barony" name="barony"
value="$!{house.barony}" />
</div>

<div class="col-md-4 form-group">
<label for="field_county">County</label>
<select id="field_county" name="county" class="form-control">
#foreach ($county in $counties)
#if ($house.county == $county )
<option value="$county" selected="yes">$county</option>
#else
<option value="$county">$county</option>
#end
#end
</select>
</div>

</div>

<div class="row">

<div class="col-md-4 form-group">
<label for="os_sheet">OS Sheet Number</label>
<input type="text" id="os_sheet" name="os_sheet" class="form-control"
size="4" value="$!{house.osSheet}" />
</div>

<div class="col-md-4 form-group">
<label for="discovery_map">Discovery Series Map#</label>
<input type="text" class="form-control"
id="field_discovery_map" name="discovery_map"
size="4" value="$!{house.discoveryMap}" />
</div>


<div class="col-md-4 form-group">
<label for="field_grid_ref">Grid Reference</label>
<input type="text" 
id="field_grid_ref" name="grid_ref" class="form-control"
size="48"
value="$!{house.gridReference}" />
</div>

</div><!-- end .row -->

<div class="row">
<div class="col-md-4">
<label>Latitude</label>
<input type="text" class="form-control" name="latitude" value="$!{house.latitude}" />
</div>
<div class="col-md-4">
<label>Longitude</label>
<input type="text" class="form-control" name="longitude" value="$!{house.longitude}" />
</div>
<div class="col-md-4">
<label>Project phase</label>
<input type="text" class="form-control" name="longitude" value="$!{house.projectPhase}" />
</div>
</div>

##</div><!-- end col -->
##</div class="col-md-3">
##	<div id="map"></div>
##</div>
##</div><!-- end row -->


<br />

<button class="btn btn-primary" type="submit">Save</button>

</form>

#parse ("_modal_map.vm")

<link rel="stylesheet" type="text/css" href="${LEAFLET_CSS}" />
<script src="${LEAFLET_SCRIPT}"></script>

<script>
#if ($house.latitude)
var lat = $house.latitude;
var lng = $house.longitude;
var zoom = 10;
#else
var lat = 53;
var lng = -8;
var zoom = 6;
#end
jQuery(function(){

	jQuery("#btn_map").click(function(){
		console.log("modal map");
		jQuery("#modal_map").modal("show");
	});
	
	jQuery("#btn_osm").click(function(){
		jQuery.ajax({
			url:"$contextPath/api/v0/OSMQuery",
			method: "GET",
			data: {latitude:53, longitude:-9}
		});
	});
	
	
	var map = L.map('map').setView([lat, lng], zoom);

	// create the tile layer with correct attribution
	var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 6, maxZoom: 16, attribution: osmAttrib});		
	
	map.addLayer(osm);
	
	var marker = L.marker([lat,lng], {
		draggable: true
	}).addTo(map);
	marker.on('drag', function (e) {
		jQuery("INPUT[name='latitude']").val(e.latlng.lat);
		jQuery("INPUT[name='longitude']").val(e.latlng.lng);
	});
        
	marker.on('dragend', function (e) {
		console.log(e);
		var latlng = e.target.getLatLng();
		jQuery.ajax({
			url: "${contextPath}/api/v0/LatLngToING",
			method: "GET",
			data: {latitude: latlng.lat, longitude: latlng.lng},
			dataType: "json"
		}).done(function(response){
			var gr = response.result;
			jQuery("INPUT[name='grid_ref']").val(gr);
		});

	});	

});	
</script>


