$breadcrumbs.add("Houses","house-list.jsp").add($house.name)

<style>
#map {width:100%;height:100%;
position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
</style>


<b>${house.name}</b> 

#if ($estates.size() == 0)
(no estate)
#else
(estates 
#foreach ($estate in $estates)
<a class="badge badge-primary" href="estate-show.jsp?id=${estate.id}">${estate.name}</a>
#end
)
#end

$!{house.description}


<table class="stdTable">

#if($FALSE)
<tr><td>House name:</td><td colspan="2">${house.name}</td></tr>
<tr valign="top">
<td width="150">Estate(s):</td>
<td colspan="2">
#foreach ($estate in $estates)
<a class="badge badge-primary" href="estate-show.jsp?id=${estate.id}">${estate.name}</a>
#end
</td>
</tr>
<tr><td>Description:</td><td colspan="2">$!{house.description}</td></tr>
#end


#if($PROJECT_ID=="ERDB")
<tr><td>Employee Records:</td>
<td colspan="2">
#if ($house.employeeRecords.size()==0)
	<em>no records</em>
#else
	#set($estate=$house)
	#parse("_employee_record_table.vm")
#end
</td>
</tr>
#end


<!-- Location info -->

<tr>
<td>Townland:</td>
<td>$!{house.townland}</td>
<td width="550" rowspan="9" style="position:relative">
#if ($house.hasGridReference())
<div id="map"></div>
#end
</td>
</tr>

<tr>
<td>Civil Parish:</td>
<td>
#if ($house.civilParish)
$!{house.civilParish}
#else
<em>n/a</em>
#end
</td>
</tr>

<tr>
<td>Poor Law Union:</td>
<td>
#if ($house.getPLU())
$house.getPLU()
#else
<em>n/a</em>
#end
</td>
</tr>

<tr>
<td>DED:</td>
<td>
#if ($house.getDED())
$!house.getDED()
#else
<em>n/a</em>
#end</td>
</tr>

<tr><td>Barony:</td>
<td>
#if ($house.barony)
$!{house.barony}
#else 
<em>n/a</em>
#end
</td>
</tr>


<tr><td>County:</td><td>$!house.getCounty()</td></tr>
<tr><td>OSI Sheet Number:</td><td>$!house.getOsSheet()</td></tr>
#if ($house.hasGridReference())
<tr>
<td>OSI Grid Reference:</td>
<td>$house.getGridReference()</td>
</tr>
<tr><td>Latitude/Longitude:</td>
<td>$jsp.formatLatLon($house)
<br>
## New Google Earth: https://www.gearthblog.com/blog/archives/2017/04/fun-stuff-new-google-earth-url.html

##[<a href="house-kml.jsp?id=${house.id}">Google Earth</a>]
[<a href="https://earth.google.com/web/@${house.latitudeDeg},${house.longitudeDeg},500a">Google Earth</a>]

</td></tr>
#else
<tr><td>OSI Grid Reference:</td><td><em>n/a</em></td></tr>
<tr><td>Latitude/Longitude:</td><td><em>n/a</em></td></tr>
#end
</table>

<p>
<a class="btn btn-primary" href="house-edit.jsp?id=${house.id}">edit</a>
&nbsp;
<a class="btn btn-primary" href="house-nearby.jsp?id=${house.id}">show nearby</a>
</p>


<a name="images"></a>
<h3>Images</h3>

#if ($house.images.size() > 0) 
#foreach ($image in $house.images) 
<div class="imageAndCaption">
<a href="image-show.jsp?id=${image.id}"><img 
src="$contextPath/img/im/${image.id}.jpg" /></a>
<br />
${image.caption}
</div>
#end
</ul>
#else
<em>no images</em>
#end

#if ($house.hasGridReference())
	#set ($cx=$house.longitudeDeg)
	#set ($cy=$house.latitudeDeg)
	#parse ("/backend/_leaflet_osm_map.vm")
#end

