$breadcrumbs.add("Houses","house-list.jsp").add($house.name,"house-show.jsp?id=$house.id").add("what is nearby? ($radiusKm km)")

<ul class="bulletList">
#foreach ($h in $houses)
#if ($h.id != $house.id)
<li> <a href="house-show.jsp?id=$h.id">${h.name}</a>
$jsp.calcDistanceInKm($house,$h)km</li>
#end
#end
</ul>

#if ($nearbyHouses.size() == 0) 
<em>none</em>
#end

<form>
<input type="hidden" name="id" value="${house.id}" />
<input type="hidden" name="estate_id" value="${estate.id}" />
Re-query with search radius <input type="text" name="r_km"
size="8"
value="$radiusKm" />
<input type="submit" value="Search" />
</form>


#set ($cx = $house.longitudeDeg)
#set ($cy = $house.latitudeDeg)
#set ($zoom = 6)

#if ($useGoogleMap)
#parse ("/backend/_google_map.vm")
#end
