$breadcrumbs.add("Estates","estate-list.jsp").add("$estate.name","estate-show.jsp?id=$estate.id").add("add house record")

<form action="house-new-submit.jsp" method="POST">
<input type="hidden" name="estate_id" 
value="$estate.getId()" />

<div class="form-group">
<label for="name">New house name</label>
<input type="text" class="form-control" id="name" name="name"/>
</div>

<div class="form-group">
<label for="project_phase">Project Phase</label>
#parse("_project_phase_select.vm")
</div>


<input type="submit" class="btn btn-primary" value="Next&gt;" />
</form>

