$breadcrumbs.add("Images").add("Image #${image.id}")


<h3>Image #$image.getId(), ${house.name}</h3>



<a href="$contextPath/img/orig/${image.getId()}.jpg"><img alt="image"
src="$contextPath/img/im/${image.getId()}.jpg" 
/></a>
<br />
Click on image for original full size version.


<br />


<table class="stdTable">
<tr>
<td>House:</td>
<td>
<a href="house-show.jsp?id=${house.id}">${house.name}</a>
of 
#if ($estates.size() == 0)
no estate
#elseif ($estates.size() == 1)
estate <a href="estate-show.jsp?id=${estate.id}">${estate.name}</a>
#else
estates
#foreach ($estate in $estates)
<a href="estate-show.jsp?id=${estate.id}">${estate.name}</a>,
#end
#end

</td>
</tr>

<tr>
<td>Caption:</td>
<td> $!image.getCaption()</td>
</tr>

<tr>
<td>Description:</td>
<td>$!image.getDescription()</td>
</tr>
</table>



<p>
<a class="btn btn-primary" href="image-edit.jsp?id=${image.id}">Edit</a>
</p>

