<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Landed Estates Database Administration</title>

#parse("_inc_header.vm")
    
  </head>

  <body>

#parse("_nav_header_no_menu.vm")

    <main role="main" class="container">
    <div class="row">
    <div class="col-md-12">


<form id="loginBox" action="login-submit.jsp" method="POST" >

<div class="form-group">
<label>Username:</label>
<input type="text" class="form-control" size="20" name="username"  />
</div>

<div class="form-group">
<label>Password:</label>
<input type="password" class="form-control" size="20" name="password" />
</div>


<input type="submit" class="btn btn-primary" value="Login" />
</form>


	</div>
	</div>
    </main><!-- /.container -->
#parse ("_inc_footer.vm")
  </body>
</html>