<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Landed Estates Database Administration</title>

#parse("_inc_header.vm")

  </head>

  <body>

#parse("_nav_header.vm")


	<main role="main" class="container-fluid">
	<div class="row">
	
	#if ($showSideCol=="true")
	
	##
	## Main content column (9/12 width)
	##
	<div class="col-md-9">
	#set($templateFileName=$pageId+".vm")
	#parse ($templateFileName)
	</div>
	
	##
	## Right-side column
	##
	<div class="col-md-3">
	#set($sideFileName=$pageId+".side.vm")
	#parse($sideFileName)
	#if ($revisionHistory && $revisionHistory.size() > 0 )
	<h3>Revision History</h3>
	<ul>
	#foreach ($o in $revisionHistory)
	<li> $o.modified</li>
	#end
	</ul>
	#end
	
	</div>
	
	
	#else
	
	##
	## Main content column (full width)
	##
	<div class="col-md-12">
	#set($templateFileName=$pageId+".vm")
	#parse ($templateFileName)
	</div>
	
	#end

	</div><!-- /.row -->
	</main><!-- /.container -->
	
	#parse ("_inc_footer.vm")
	
  </body>
</html>
