$breadcrumbs.add("Reference Sources","refsource-list.jsp")

<table class="stdTable">
<thead>
<tr>
<th>name</th>
<th width="30%">category</th>
##<th>contact details</th>
</tr>
</thead>

<tbody>
#foreach ($source in $referenceSources)
<tr>
<td>
<a href="refsource-show.jsp?id=$source.getId()">
#if (! $source.getName() || $source.getName().length() == 0) 
<em>(no name)</em>
#else
$source.getName()
#end
</a>
</td>

<td>$!{source.category.name}</td>

#if ($FALSE)
<td>
#if ($source.contactPerson && $source.contactPerson.length()>0)
Person: $!{source.contactPerson}<br />
#end

#if ($source.contactTelephone && $source.contactTelephone.length()>0)
Tel: $!{source.contactTelephone}<br />
#end

#if ($source.contactEmail && $source.contactEmail.length()>0)
Email: $!{source.contactEmail}<br />
#end

#if ($source.contactWeb && $source.contactWeb.length()>0)
Web:  $!{source.contactWeb}<br />
#end
</td>
#end


</tr>
#end
</tbody>

</table>
