$breadcrumbs.add("Users")


<table class="stdTable">

<thead>
<tr>
<td>Username</td>
<td>Email</td>
<td>Last login</td>
<td></td>
</tr>
</thead>

<tbody>

#foreach ($u in $users)
<tr>
<td><a href="user-show.jsp?id=${u.id}">${u.username}</td>
<td><a href="user-show.jsp?id=${u.id}">${u.email}</td>
<td>$!{u.lastLogin}</td>
<td><a class="btn btn-primary btn-sm" href="user-edit.jsp?user_id=${u.id}"><b class="fa fa-pencil"></b></a></td>
</tr>
#end

#foreach ($r in $recentEstates)
<tr>
<td><a href="estate-show.jsp?id=${estate.id}">${r.luceneId}</td>
<td>${r.name}</td>
<td>$!{r.lastModified}</td>
</tr>
#end

</tbody>

</table>


<a class="btn btn-primary" href="user-edit.jsp"><b class="fa fa-plus"></b> add user</a>
