$breadcrumbs.add("Users","user-list.jsp").add("${u.username}")


<table class="stdTable">

<thead>
<tr>
<td>Record ID</td>
<td>Name</td>
<td>When</td>
</tr>
</thead>

<tbody>

#foreach ($r in $recentHouses)
<tr>
<td><a href="estate-show.jsp?id=${r.id}">${r.luceneId}</td>
<td>${r.name}</td>
<td>$!{r.lastModified}</td>
</tr>
#end

#foreach ($r in $recentEstates)
<tr>
<td><a href="estate-show.jsp?id=${r.id}">${r.luceneId}</td>
<td>${r.name}</td>
<td>$!{r.lastModified}</td>
</tr>
#end

</tbody>

</table>

