#parse ("/mobile/_header.vm")

<h2>Family: $family.getName()</h2>

$family.getDescription()

<h3>Estates</h3>

<ul>
#foreach ($estate in $family.getEstates()) 
<li> <a href="e${estate.getId()}.html">$estate.getName()</a>
#if ($estate.getDescription())
- $estate.getDescription()
#end
</li>
#end
</ul>

#if ($estates.size() == 0) 
<em>no estate records found</em>
#end

#parse ("/mobile/_footer.vm")

