
		</div>
	 	<!-- END BODY -->
		
	  </div>
    <!-- END LEFTBAR-BODY-RIGHTBAR -->
  
  <!-- FOOTER -->
	<!-- includes/skins/2005/greybar.inc -->
	<div id="footer">
		<div id="footerleft">
		</div>
		<div id="footerright">
			<ul>
				<li><a title="Disclaimer" href="http://www.nuigalway.ie/disclaimer.php">Disclaimer</a></li>
				<li><a title="Privacy" href="http://www.nuigalway.ie/privacy.php">Privacy</a></li>
				<li><a title="Accessibility [access key '0']" accesskey="0" href="http://www.nuigalway.ie/accessibility.php">Accessibility</a></li>
			</ul>
		</div>
	</div>
	
	
	<div id="valid">
	Email: <a href="mailto:info@landedestates.ie">info@landedestates.ie</a>. 
	&nbsp; &nbsp; 
	Landed Estates Database, $VERSION
	##include ("includes/footer.inc")
	##include ("includes/skins/2005/lastupdated.inc")
	</div>
  <!-- END FOOTER -->
	
	</div>
  <!-- END CHANGEABLE -->
  
<!-- END CONTAINER -->
</div>

<!-- BOTTOM SPACER -->
<div id="pagebottom"><img src="http://www.nuigalway.ie/images/spacer.png" height="5" width="5" alt="Bottom of Page" /></div>
<!-- END BOTTOM SPACER -->

<!-- END DOTS -->
</div>

<!--documents/landedestatesImages.js -->
<script type="text/javascript" >
function randomImage() {
	var headImages = [ '../assets/header.jpg' ];
	var max = headImages.length -1;
	var num = Math.floor((Math.random() * max));
	if (document.getElementById) {
		var headerImageDiv = document.getElementById('logoimage');
		if (headerImageDiv) {
			headerImageDiv.style.backgroundImage = "url(" + headImages[num] + ")";
		}
	}
	return;
}
randomImage();
</script>


<script src="$contextPath/assets/lesite.js"></script>

##set ($GOOGLE_MAP_ENABLE="true")
#if ($GOOGLE_MAP_ENABLE)
#parse("_google_map_js.vm")
#end

#set ($LEAFLET_MAP_ENABLE="true")
#if ($LEAFLET_MAP_ENABLE)
#parse("_leaflet_map_js.vm")
#end
   
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-239129-36");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
