#parse ("/_nuig_ot_header.vm")

<h2>Houses near 
<a href="property-show.jsp?id=$property.getId()">$property.getName()</a>
 (search radius $radiusKm km)</h2>

<form action="property-nearby.jsp?id=$property.getId()" method="GET">
<input type="hidden" name="id" value="$property.getId()" />
Re-query with search radius <input type="text" name="r_km"
size="8"
value="$radiusKm" /> km
<input type="submit" value="Search" /> 
</form>


<table>
<tr valign="top"><td>
<div id="mapContainer" style="width:550px; height:550px;"></div>
</td>

<td>
<ol>
#foreach ($p in $properties)
#if ($p.getId() != $property.getId())
<li> <a href="property-show.jsp?id=$p.getId()">$p.getName()</a>
$jsp.calcDistanceInKm($property,$p)km</li>
#end
#end
</ol>
</td>
</tr>
</table>


#if ($nearbyProperties.size() == 0) 
<em>none</em>
#end




#set ($cx = $property.getLongitudeDeg())
#set ($cy = $property.getLatitudeDeg())
#set ($zoom = 6)

#if ($mapSystem == "GMap")
#parse ("/_google_map.vm")
#elseif ($mapSystem == "YMap")
#parse ("/_yahoo_map.vm")
#end

#parse ("/_nuig_ot_footer.vm")

