@import url("default.css");

/* selected stylesheet indicators in top bar */
#cssColour {
	padding-left: 6px;
	background: none;
}
#cssHiContrast {
	background: url("http://www.nuigalway.ie/images/youarehere_grey.png") no-repeat;
	background-position: left;
	height: 10px;
	vertical-align: inherit;
	padding-left: 6px;
}

body {
	background-color: inherit;
	color: #000;
}
#container, #body {
	background-color: inherit;
	color: #000;
}
#bodywide {
	background-color: inherit;
	color: #000;
}
#bodyfull {
	background-color: #fff;
	color: #000;
}
#topbartext, #topbartext a, #topbartextright a {
	color: #000;
	background-color: #fff;
}
#imagecover {
	background-image: url(http://www.nuigalway.ie/images/headers/image_cover_hicontrast_795.png);
}
#imagecontent {
	background-color: inherit;
}
#imagecontenttext {
	background-color: transparent;
}
#imagemarketingcontent {
	color: #000;
	font-weight: bold;
}

.bodytext {
	background-color: #fff;
	color: #000;
}
.tableborder {
	border: 1px solid #000;
}

h1 {
	border: 0px;
	background-color: #fff;
	color: #000;
}
h2 {
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
}
h3, h4, h5, h6 {
	background-color: #fff;
	color: #000;
}

#valid {
	color: #000;
	background-color: #fff;
}

#footer A:link {text-decoration: none; color: #fff; background-color: inherit;}
#footer A:visited {text-decoration: none; color: #fff; background-color: inherit;}
#footer A:active {text-decoration: none; color: #fff; background-color: inherit;}
#footer A:hover {text-decoration: underline; color: #fff; background-color: inherit;}

#footerleft {
	background-color: #999;
	color: #fff;
	font-weight: bold;
}
#footerright {
	background-color: #999;
	color: #fff;
	font-weight: bold;
}

/* START QUICK NEWS */

#quicknews li.head {
	background-color: #ffeabd;
	color: #000;
}
#quicknews li {
	color: #000;
	background-color: #fff; 
}

/* END QUICK NEWS */

/* START BULLETINS */

#bulletins li {
	background-color: #000;
	color: #fff;
}
#bulletins li a {
	color: #000;
	background-color: #f0f0f0;
}
#bulletins li a.whatisthis {
	background-color: #000;
	color: #fff;
	padding: 0px;
	display: inline;
}
#bulletins li a.whatisthis:hover {
	background-color: #000;
	color: #fff;
}

/* END BULLETINS */

/* START SIDENAV */

#sidenav li ul li a, #sidenav li ul li ul li a, #sidenav li ul li ul li ul li a {
	color: #000;
}
#sidenav li ul li {
	background-color: #F3EFF0;
	color: #000;
}
#sidenav li ul li a:hover {
	background-color: #F3EFF0;
	color: #000;
}

/* END SIDENAV */

/* START IMPORTANT LINKS */

#importantlinks li {
	background-color: #F3EFF0;
	color: #000;
}
#importantlinks li a {
	color: #000;
	background-color: #fff;
}
#importantlinks li a:hover {
	background-color: #F3EFF0;
	color: #000;
}
#importantlinks li ul li {
	color: #000;
	background-color: #fff;
}
#importantlinks li ul li a {
	background-color: #FFF;
	color: #000;
}
#importantlinks li ul li a:hover {
	background-color: #F3EFF0;
	color: #000;
}

/* END IMPORTANT LINKS */

/* START LINK SEARCH */

#linkSearchTitle {
	background-color: #F3EFF0;
	color: #000;
}
#linkSearch ul li a {
	color: #000;
}
#linkSearch ul li a:hover {
	background-color: #F3EFF0;
	color: #000;
}

/* END LINK SEARCH */

/* START QUICK LINKS DIV DROPDOWN */

#quicklinksdivdropdown ul { 
	background-color: #fff;
}
#quicklinksdivdropdown li {
	background-color: #fff;
	color: #000;
}
#quicklinksdivdropdown li a {
	background-color: #fff;
	color: #000;
}
#quicklinksdivdropdown li a:hover {
	background-color: #000;
	color: #fff;
}

/* END QUICK LINKS DIV DROPDOWN */

/* START BULLETINS BODY */

#bulletinsBody li {
	background-color: #F7F4F5;
	color: #000;
}
#bulletinsBody li a {
	color: #000;
	background-color: #F7F4F5;
}
#bulletinsBody li a:hover {
	background-color: #000;
	color: #fff;
}

/* END BULLETINS BODY */

/* START WHAT IS THIS */

.whatisthis {
	color: #fff;
}
a.whatisthis span strong {
	color: #fff;
}
a.whatisthis:hover span {
  border:1px solid #fff;
  background-color:#000; 
	color:#fff;
}

/* END WHAT IS THIS */

/* Hack for < IE6 */
/* Hiding from IE5/Mac  \*/
* html #imagecontent {
	bottom: 0px;
	vertical-align: middle;
}
* html #imagecontenttext {
	bottom: 0px;
	background-color: #801A1A;
}
* html #imagecontent h1 {
	color: #fff;
	padding: 0;
	margin: 0;
}
* html #imagecover {
	background-image: url(http://www.nuigalway.ie/images/headers/image_cover_hicontrast_795_ie.gif);
}
* html #image {
	background-color: #inherit;
}
* html #breakingNewsText {
	background-color: #000;
}
* html .breakingNewsControl {
	background-color: #fff;
}
* html body {
	text-align: center;
}
* html p {
	text-align: left;
}
* html .bulletlist {
	float: left;
}
* html .columnContent {
	margin: 0;
	padding: 0;
}
/* End Hack */