#navhome a:hover {
	background: url(/images/arrows/home_grey_nav.png) no-repeat 100% 50%;
}
#navfuture a:hover {	
	background: url(/images/arrows/future_nav.png) no-repeat 100% 50%;
}
#navcurrent a:hover { 
	background: url(/images/arrows/current_nav.png) no-repeat 100% 50%;
}
#navfacdept a:hover {
	background: url(/images/arrows/facdept_nav.png) no-repeat 100% 50%;
}
#navresearch a { 
	background: url(/images/arrows/research_nav_on.png) no-repeat 100% 50%;
}
#navadmin a:hover { 
	background: url(/images/arrows/admin_nav.png) no-repeat 100% 50%;
}