@import url("default.css");

.tableborder {
	border: 1px solid #b36930;
}
h1 {
	border: 0px;
	background-color: transparent;
	color: #b36930;
}
h2 {
	border-top: 1px dashed #b36930;
	background-color: transparent;
	color: #b36930;
}
h3, h4, h5, h6 {
	background-color: transparent;
	color: #b36930;
}