#parse ("/cdrom/_header.vm")

<ul>
<li> <a href="f_index.htm">Family names index</a></li>
<li> <a href="e_index.htm">Estate index</a></li>
<li> <a href="a_index.htm">Full database index</a></li>
</ul>


#parse ("/cdrom/_footer.vm")

